@use 'variables';
#home {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    height: auto;

    #heroImage{
        img{
            margin-top: 6%;
            width: 100%;
        }
    }

    & > main {
        padding: 1rem;
        min-height: calc(100vh - #{variables.$navHeight});
        /* background: rgba(0, 0, 0, 0.5); */
        margin-top: -25%;
    }

    & > div.item {
        border-top: 3px solid rgba(0, 0, 0, 0.5);
        display: grid;
        gap: 1rem;
        grid-template-columns: 100fr 400fr;
        padding-top: 1rem;
        
        img {
            width: 15rem;
        }
    }
    
    .item{
        padding: 1rem;
        background: #fff;
    }

    #products, #affiliateProducts{
        color: variables.$txt-color-black;
        h2{
            margin-bottom: 1rem;
        }
        .items{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(280px ,1fr));
            grid-template-rows: auto;
            gap: 1rem;
            margin-bottom: 1rem;
            position: relative;
            .item{
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto minmax(250px, auto) auto auto auto;
                position: relative;
                gap: 1rem;
                align-items: end;
                // min-height: 300px;
                img{
                    align-self: center;
                    justify-self: center;
                    object-fit: cover;
                    max-width: 80%;
                    max-height: 250px;
                }
                .price{
                    font-weight: bold;
                }
                button{
                    width: 140px;
                }

            }
        }
    }
}

@media screen and (max-width: variables.$breakpoint1) {
    #home{
        #heroImage{
            img{
                margin-top: 15%;
            }
        }
    }
}

@media screen and (max-width: variables.$breakpoint3) {
    #home{
        #heroImage{
            img{
                margin-top: 22%;
            }
        }
    }
}
@media screen and (max-width: variables.$breakpoint2) {
    #home{
        #heroImage{
            img{
                margin-top: 28%;
            }
        }
    }
}
