@use 'variables';

#loginPage, #resetPasswordPage {
    background-color: #fff;  
    form{
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 350px;
        
        span.errorMsg{
            font-size: .7rem;
            text-align: left;
            color: #f33a21;
        }
    }
    .hidden{
        display: none;
    }

    .logo{
        position: absolute;
        left: 50%;
        top: 140px;
        transform: translateX(-50%);

        img{
            height: 40px;
        }
    }
}


@media screen and (max-width: variables.$breakpoint1) {
    #loginPage, #resetPasswordPage {
    
        form{
            top: 230px;
        }
        .logo{  
            top: 170px;
        }
    }
    
}