@use 'variables';

#signupPage {
    margin-top: 7rem;
    #signupForm{
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 350px;
    }
    .succesMessage{
        display: none;
    }

    .logo{
        position: absolute;
        left: 50%;
        top: 140px;
        transform: translateX(-50%);

        img{
            height: 40px;
        }
    }
}
