@use 'variables';

#signupPage {
    margin-top: 7rem;
    #signupForm{
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 350px;
    }
    .succesMessage{
        display: none;
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
    }

    .logo{
        position: absolute;
        left: 50%;
        top: 140px;
        transform: translateX(-50%);

        img{
            height: 40px;
        }
    }
}


@media screen and (max-width: variables.$breakpoint1) {
    #signupPage {
        #signupForm{
            top: 230px;
        }
        .succesMessage{
            top: 230px;
        }
    
        .logo{
            top: 170px;
        }
    }
    
}