#loginPage, #resetPasswordPage {
  background-color: #fff;
}
#loginPage form, #resetPasswordPage form {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  width: 350px;
}
#loginPage form span.errorMsg, #resetPasswordPage form span.errorMsg {
  font-size: 0.7rem;
  text-align: left;
  color: #f33a21;
}
#loginPage .hidden, #resetPasswordPage .hidden {
  display: none;
}
#loginPage .logo, #resetPasswordPage .logo {
  position: absolute;
  left: 50%;
  top: 140px;
  transform: translateX(-50%);
}
#loginPage .logo img, #resetPasswordPage .logo img {
  height: 40px;
}

@media screen and (max-width: 955px) {
  #loginPage form, #resetPasswordPage form {
    top: 230px;
  }
  #loginPage .logo, #resetPasswordPage .logo {
    top: 170px;
  }
}
#signupPage {
  margin-top: 7rem;
}
#signupPage #signupForm {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  width: 350px;
}
#signupPage .succesMessage {
  display: none;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}
#signupPage .logo {
  position: absolute;
  left: 50%;
  top: 140px;
  transform: translateX(-50%);
}
#signupPage .logo img {
  height: 40px;
}

@media screen and (max-width: 955px) {
  #signupPage #signupForm {
    top: 230px;
  }
  #signupPage .succesMessage {
    top: 230px;
  }
  #signupPage .logo {
    top: 170px;
  }
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 95;
}

.mobileNav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.mobileNav .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 24px;
  width: 80vw;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  top: 0;
  left: 0;
  color: #0F1111;
}
.mobileNav .content a {
  text-decoration: none;
  color: #0F1111;
}
.mobileNav .content img {
  width: 30px;
}
.mobileNav form img {
  padding: 6px 8px;
  width: 34px;
  /* height: auto; */
}
.mobileNav form label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  min-width: 120px;
}
.mobileNav form label:first-of-type {
  border-bottom: 1px solid #a6a6a6;
}
.mobileNav form label input {
  display: none;
}
.mobileNav form form {
  width: max-content;
  padding: 0px;
  background: none;
  border: none;
}

.closeBtn {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 10vh;
  right: 40px;
  z-index: 99;
  pointer-events: none;
}

.menuActive {
  display: block !important;
}

#mainNav {
  /* height: 5rem; */
  width: 100%;
  color: #fff;
  background-color: #131921;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto minmax(45%, auto) auto auto auto auto;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  font-size: 14px;
  font-weight: bold;
}
#mainNav .fa-bars {
  display: none;
}
#mainNav > div, #mainNav > a {
  margin: 2px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 2px;
}
#mainNav > div:hover:not(.searchBar), #mainNav > a:hover:not(.searchBar) {
  cursor: pointer;
  border: 1px solid #fff;
}
#mainNav .logo a {
  text-decoration: none;
  color: #fff;
}
#mainNav .logo a img {
  height: 40px;
  padding: 0px;
}
#mainNav span {
  color: #fff;
}
#mainNav .productManagement {
  text-decoration: none;
  color: #fff;
}

.subNav {
  height: 2.5rem;
  width: 100%;
  color: #fff;
  /* background-color: rgb(51, 51, 51); */
  background-color: #232f3e;
  /* top: 5rem; */
  top: 3.5rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.8rem;
}
.subNav > div {
  margin-right: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  font-weight: bold;
}

.burgerMenu {
  display: flex;
  height: 1rem;
  width: 1rem;
  position: relative;
  margin-right: 0.2rem;
  flex-direction: column;
  justify-content: space-around;
}

.bar {
  background: #fff;
  width: 1rem;
  height: 2px;
}

.currentLang img {
  width: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  top: 100%;
  left: -20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  border-radius: 2px;
}
.dropdownContent::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  position: absolute;
  top: -3px;
  left: 28px;
  transform: rotate(45deg);
}
.dropdownContent img {
  padding: 6px 8px;
  width: 34px;
  /* height: auto; */
}
.dropdownContent label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  min-width: 120px;
}
.dropdownContent label:first-of-type {
  border-bottom: 1px solid #a6a6a6;
}
.dropdownContent label input {
  display: none;
}
.dropdownContent label span {
  color: #0F1111 !important;
}
.dropdownContent form {
  width: max-content;
  padding: 0px;
  background: none;
  border: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}

.dropdownContent.dropdownSignup {
  width: max-content;
}

.dropdownContent.dropdownSignup ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.dropdownContent.dropdownSignup ul li {
  text-align: center;
  padding: 1rem 0;
}
.dropdownContent.dropdownSignup ul li:first-of-type {
  border-bottom: 1px solid #a6a6a6;
}

.dropdownContent.dropdownSignup a {
  text-decoration: none;
  color: #0F1111;
}

.cart .fas {
  font-size: 18px;
  margin-right: 4px;
}

.searchBar {
  position: relative;
  align-self: center;
  width: 100%;
}
.searchBar input {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  border-radius: 4px;
  border: none;
  border-bottom: none;
  padding-left: 98px;
}
.searchBar .searchIcon {
  position: absolute;
  background-color: #febd69;
  right: -39px;
  width: 45px;
  height: 40px;
  top: 6px;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
}
.searchBar .searchIcon .fas {
  color: #0F1111;
  font-size: 22px;
}
.searchBar .searchBarDropdown {
  position: absolute;
  background-color: #f3f3f3;
  left: 98px;
  padding-right: 6px;
  height: 40px;
  top: 6px;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
}
.searchBar .searchBarDropdown select {
  text-align: center;
  border: none;
  background-color: #f3f3f3;
}

@media screen and (max-width: 955px) {
  #mainNav {
    background-color: #232f3e;
    grid-template-columns: 100px 100px auto 100px 100px;
    grid-template-rows: 2;
    gap: 0;
  }
  #mainNav .fa-bars {
    display: block;
    font-size: 18px;
  }
  #mainNav .logo {
    grid-column: 2;
  }
  #mainNav .logo a img {
    height: 30px;
    padding: 0px;
  }
  #mainNav .sign-in {
    grid-column: 4;
  }
  #mainNav .cart {
    grid-column: 5;
  }
  #mainNav .searchBar {
    grid-row-start: 2;
    grid-column: 1/-1;
  }
  #mainNav .delivery, #mainNav .languages, #mainNav .productManagement {
    display: none;
  }

  .subNav {
    overflow-y: auto;
  }
  .subNav .menu {
    display: none;
    grid-column: 1;
  }
}
@media screen and (max-width: 500px) {
  #mainNav {
    grid-template-columns: auto auto 0px auto auto;
  }
  #mainNav .logo a img {
    height: 20px;
    padding: 0px;
  }
}
#home {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  height: auto;
}
#home #heroImage img {
  margin-top: 6%;
  width: 100%;
}
#home > main {
  padding: 1rem;
  min-height: calc(100vh - 7rem);
  /* background: rgba(0, 0, 0, 0.5); */
  margin-top: -25%;
}
#home > div.item {
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 1rem;
  grid-template-columns: 100fr 400fr;
  padding-top: 1rem;
}
#home > div.item img {
  width: 15rem;
}
#home .item {
  padding: 1rem;
  background: #fff;
}
#home #products, #home #affiliateProducts {
  color: #0F1111;
}
#home #products h2, #home #affiliateProducts h2 {
  margin-bottom: 1rem;
}
#home #products .items, #home #affiliateProducts .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
#home #products .items .item, #home #affiliateProducts .items .item {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(250px, auto) auto auto auto;
  position: relative;
  gap: 1rem;
  align-items: end;
}
#home #products .items .item img, #home #affiliateProducts .items .item img {
  align-self: center;
  justify-self: center;
  object-fit: cover;
  max-width: 80%;
  max-height: 250px;
}
#home #products .items .item .price, #home #affiliateProducts .items .item .price {
  font-weight: bold;
}
#home #products .items .item button, #home #affiliateProducts .items .item button {
  width: 140px;
}

@media screen and (max-width: 955px) {
  #home #heroImage img {
    margin-top: 15%;
  }
}
@media screen and (max-width: 660px) {
  #home #heroImage img {
    margin-top: 22%;
  }
}
@media screen and (max-width: 500px) {
  #home #heroImage img {
    margin-top: 28%;
  }
}
#notFound main {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#notFound h1 {
  font-size: 4rem;
  color: #febd69;
}

#itemsPage .top {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding: 1rem 1rem 0;
}
#itemsPage .top .btn {
  margin: 0;
  padding: 0 1rem;
}
#itemsPage .mobileOnly {
  display: none;
}

#items {
  color: #0F1111;
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#items .item, #items .itemHeaders {
  display: grid;
  grid-template-columns: 100fr 100fr 100fr 45fr 25fr 25fr 30fr;
  align-items: center;
  padding: 1rem;
  gap: 20px;
}
#items .item .updateItem, #items .item .deleteItem, #items .item .bulkAction, #items .itemHeaders .updateItem, #items .itemHeaders .deleteItem, #items .itemHeaders .bulkAction {
  justify-self: center;
}
#items .item h4:first-of-type, #items .itemHeaders h4:first-of-type {
  text-align: center;
}
#items .item .btn, #items .itemHeaders .btn {
  height: auto;
  margin: 0;
}
#items .item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px #00000040;
  position: relative;
  min-height: 160px;
}
#items .item .descriptions, #items .item .titles, #items .item .price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
}
#items .item .descriptions span, #items .item .titles span, #items .item .price span {
  font-weight: bold;
}
#items .item .productImg {
  overflow: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
#items .item .productImg:hover {
  opacity: 0.5;
}
#items .item .productImg:hover .fa-edit {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  pointer-events: none;
}
#items .item .productImg :hover {
  opacity: 0.5;
}
#items .item .productImg img {
  height: 100px;
  pointer-events: none;
}
#items .item .fa-edit {
  display: none;
}
#items .fa-trash-alt, #items .fa-pen {
  pointer-events: none;
}
#items input[type=checkbox] {
  margin: 0;
}

#updateModal textarea:first-of-type {
  margin-bottom: 12px;
}

.deleteBtnMobile {
  display: none;
}

@media screen and (max-width: 955px) {
  #itemsPage.mainContainer {
    margin-top: 179px;
  }

  #itemsPage .itemHeaders {
    display: none;
  }
  #itemsPage #items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  #itemsPage #items .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  #itemsPage #items .item span {
    font-weight: 400;
    margin-right: 2px;
  }
  #itemsPage #items .item h4 {
    text-align: left;
  }
  #itemsPage #items .item .desktopOnly {
    display: none;
  }
  #itemsPage #items .item .updateItem, #itemsPage #items .item .deleteItem, #itemsPage #items .item .bulkAction {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    font-size: 14px;
  }
  #itemsPage #items .item h4.mobileOnly {
    margin-top: 24px;
  }
  #itemsPage #items .item p.mobileOnly {
    font-weight: 600;
  }
  #itemsPage #items .item .productImg .fa-edit {
    display: block;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #itemsPage .mobileOnly {
    display: block;
  }

  .deleteBtnMobile {
    display: block;
  }

  .btns {
    display: flex;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  #itemsPage .top {
    display: block;
  }
  #itemsPage .mobileOnly {
    display: block;
  }

  .btns {
    display: flex;
    gap: 0.5rem;
  }
  .btns .btn {
    width: 140px;
  }
}
#account {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#account img {
  height: 40px;
}
#account #changePasswordBtn {
  padding: 2px 7px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.textSmall {
  font-weight: normal;
  font-size: 0.7rem;
}

.textDanger {
  color: #df1818;
}

.textSuccess {
  color: #499354;
}

span {
  color: #111111;
}

.errorMsg {
  font-size: 0.7rem;
  text-align: left;
  color: #df1818;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 20px 26px;
  background: white;
  border-radius: 4px;
  border: 1px #ddd solid;
  color: #111111;
}
form h1, form h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
form p {
  padding: 0;
  margin: 0 0 14px 0;
  font-size: 13px;
  line-height: 19px;
}

label {
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #111111;
}

input {
  height: 31px;
  padding: 3px 7px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
  line-height: 19px;
  margin-bottom: 14px;
}
input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(#e8f0fe, rgba(70, 90, 126, 0.4)) !important;
  color: -internal-light-dark(black, white) !important;
}

body {
  background: #EAEDED;
  height: calc(100vh - 7rem);
  overflow: hidden;
  overflow-y: scroll;
}

main {
  margin-top: 6rem;
}

.mainContainer {
  margin-top: 7rem;
}

.btn {
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  border-radius: 2px;
  height: 29px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  color: #111111;
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  margin-bottom: 18px;
}

.btnPrimary {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
}

.btnSmall {
  background-color: white;
  box-shadow: unset;
  color: #febd69;
}

.actions {
  display: flex;
  margin-top: 12px;
}
.actions .btn {
  padding: 3px 7px;
}
.actions .btn:first-of-type {
  margin-right: 12px;
}

.alternateActions {
  font-size: 12px;
  line-height: 1.5;
  color: #111111;
}
.alternateActions a {
  text-decoration: none;
  color: #0066c0;
}

.link {
  text-decoration: none;
  color: #0066c0;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.modalContent input {
  width: 100%;
}

#logoutModal .actions {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  justify-content: center;
}

textarea {
  padding: 3px 7px;
}

.fileInput {
  margin-top: 12px;
}

input:read-only {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
