$navHeight: 7rem;
$primary-color: #2196f3;
$amazon-color: #febd69;
$amazon-dark-blue: #131921;
$amazon-blue: #232f3e;
$danger: #df1818;
$success: #499354;
$txt-color-white: #fff;
$txt-color-black: #0F1111;
$form-txt-color: #111111;